tqdm
python-dotenv



# pandas
# pyarrow
# fastparquet
# numpy
# matplotlib
# scikit-learn
# jupyter
# seaborn
# polars
# pendulum

### development
black
isort
bandit
mypy
pylint
loguru
icecream

### add specific project dependencies here: